$primaryColor: #02070D; 
$secondaryColor: #fff;
$greyColor: #595856;
$darckBluColor: #034AA6;

$defaultFont: "Goldman", serif;
$lightWeight: 300;
$normalWeight: 500;
$leading: 150%;

$gutter: 10px;

//#595856 - Grey
//#034AA6 - Dark blue
//#fff - White
//#02070D - dark black
